
/*PAGINA PRINCIPAL*/

body, li, ul, p{
margin:0px;
padding:0px;
list-style:none;
font-size:25px;
font-family: "Doppio One", Arial ;
}

.menu a:hover{
background-color: #120487;
}

.header a:hover{
  background-color: #120487;
  cursor: pointer;
  transition: 1s;
  transition-timing-function: linear;
  padding: 5px  
}

a{
  cursor: pointer;
  transition: 2s;
  transition-timing-function: linear;
  padding: 5px
}


a{
text-decoration: none;
color: white;
border-radius: 4px;

}

.header { 
background:none;	
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 15px;
}


.menu{
display:flex;
}

.menu li{
margin-left: 15px;
}

.menu li a {
display:block;
padding: 5px;
}


body{
width: 100%;
height: 100%;
background:#f1f1f1;
color:#03041F;
background-image:
url("../Imagens/marshmello-moving-on.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 130% 135%;
overflow-x: hidden;
}



h1{
padding: 15px;
font-size: 40px;	
}


p{
text-align: justify;
margin-top: -35px;
width: 400px;
padding: 45px;
font-size: 25px;
}
 


::-webkit-scrollbar {
  display: none;
}

.apple{
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 25px;
  right:150px;
}

.spotify{
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 5px;
  right: 25px; 
}

.youtube{
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 5px;
  right:260px;
}